<div ng-click="popoverContentClick($event)">
    <div class="form-group col-md-12 row">
        <div>
            <label>Название</label>
        </div>
        <div>
            <input type="text" focus-me="focusName" ng-init="new_room = {'id':-1};focusName = true;" ng-model="new_room.name" class="form-control">
        </div>
    </div>
    <div class="form-group col-md-12 row">
        <div>
            <label>Номер кабинета</label>
        </div>
        <div>
            <input type="text" ng-model="new_room.number" class="form-control">
        </div>
    </div>
    <div class="form-group col-md-12 row">
        <button type="submit" class="btn btn-primary" ng-click="$parent.addRoom(new_room);">Создать площадку</button>
    </div>
</div>
