{{resizerStatus.stepY}}
<div class="table-responsive">
    <table class="table rooms-events">
        <tbody>
        <tr>
            <th ng-repeat="room in ngModel | orderBy:'id'">{{room.name}}{{room.number ? ' - ' + room.number : ''}}</th>
        </tr>
        <tr class="content">
            <td ng-repeat="room in ngModel | orderBy:'id'"
                dnd-list="room.events"
                dnd-drop="eventDropped(room.events, item, index)">
                <div class="list-group"
                     ng-repeat="event in room.events"
                     dnd-draggable="event"
                     dnd-effect-allowed="move"
                     dnd-moved="room.events.splice($index, 1)"
                     dnd-disable-if="event.resizer.active"

                     ng-init="setEventStyle(room.events, $index)"
                     ng-style="event.style">
                    <div class="top"
                         resizer="horizontal"
                         ng-model="event.resizer"
                         ng-change="resizeEvent(room.events, $index)">
                    </div>
                    <a href ng-click="clickEvent(event)" class="list-group-item active" ng-style="{'background-color':event.color_code}">
                        <h5 class="list-group-item-heading">{{event.name}} - {{+getDuration(event).toFixed(1)}} час.</h5>
                        <p class="list-group-item-text">
                            Начало в: {{event.begin_date | amDateFormat:'D MMM. H:mm'}}
                            <br/>
                            Окончание в: {{event.end_date | amDateFormat:'D MMM. H:mm'}}
                        </p>
                    </a>
                    <div class="bottom"
                         resizer="horizontal"
                         ng-model="event.resizer"
                         ng-change="resizeEvent(room.events, $index)">
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>