<div class="table-responsive">
    <table class="table table-bordered rooms-events">
        <tbody>
        <tr>
            <th>
                <button type="button" class="btn btn-default btn-sm" ng-click="addHourRow('top')" ng-disabled="!begin_hour">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </th>
            <th ng-repeat="room in ngModel | orderBy:'id'">{{room.name}}{{room.number ? ' - ' + room.number : ''}}</th>
        </tr>
        <tr ng-repeat="hour in hours" ng-class="hour.classes">
            <td>{{hour.date | amDateFormat:'HH:mm'}}</td>
            <td ng-repeat="room in ngModel | orderBy:'id'">
                <div class="event-container"
                     ng-style="hour.style"

                     dnd-list="hour.events"
                     dnd-drop="eventDropped(hour, room, item, index)">

                    <div class="list-group event-item"
                         ng-repeat="cur_event in hour.events"
                         ng-if="cur_event.room_id == room.id"
                         ng-init="setEventStyle(hour, $index)"
                         ng-style="cur_event.style"

                         dnd-draggable="cur_event"
                         dnd-effect-allowed="move"
                         dnd-moved="hour.events.splice($index, 1)"
                         dnd-disable-if="cur_event.resizer.active"
                         dnd-dragstart="cur_event.style.display = 'none'"
                         dnd-dragend="cur_event.style.display = 'block'">

                        <div class="top"
                             resizer="horizontal"
                             ng-model="cur_event.resizer"
                             ng-change="resizeEvent(hour, $index)">
                        </div>

                        <a href ng-click="clickEvent(cur_event)" class="list-group-item active" ng-style="cur_event.content_style">
                            <h5 class="list-group-item-heading">{{cur_event.name}} - {{+getDuration(cur_event).toFixed(1)}} час.</h5>
                            <p class="list-group-item-text">
                                Начало в: {{cur_event.begin_date | amDateFormat:'D MMM. H:mm'}}
                                <br/>
                                Окончание в: {{cur_event.end_date | amDateFormat:'D MMM. H:mm'}}
                            </p>
                        </a>

                        <div class="bottom"
                             resizer="horizontal"
                             ng-model="cur_event.resizer"
                             ng-change="resizeEvent(hour, $index)">
                        </div>

                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <button type="button" class="btn btn-default btn-sm" ng-click="addHourRow('bottom')" ng-disabled="end_hour == 23">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </td>
            <td ng-repeat="room in ngModel | orderBy:'id'">
                Всего: {{roomsEventsLength[room.id]}} {{roomsEventsLength[room.id] | enducement:['событие', 'события', 'событий']}}
            </td>
        </tr>
        </tbody>
    </table>
</div>