<div ng-hide="events.length" class="margin-top">
    В мероприятие пока не добавлено ни одного события
</div>
<div class="btn-toolbar margin-top">
    <button class="btn btn-success btn-sm" ng-click="addEventRow(forumsCtrl.cur_forum)">
        <span class="glyphicon glyphicon-plus"></span> Добавить событие
    </button>
</div>
<table ng-show="events.length" class="table table-striped events-table">
    <tr>
        <th class="name">Название</th>
        <th class="type">Тип</th>
        <th class="room">Помещение</th>
        <th class="date">Сроки</th>
        <th></th>
    </tr>
    <tr ng-repeat="event in events | orderBy: ['is_new', 'begin_date']" ng-dblclick="event.edit = true" ng-class="{'edit':event.edit}">
        <td class="name">
            <span ng-hide="event.edit">{{event.name}}</span>
            <input ng-if="event.edit" type="text" focus-me="event.edit" name="name" ng-model="event.name" class="form-control" required >
        </td>
        <td class="type">
            <div>
                <span ng-hide="event.edit">{{event.event_type.name}}</span>
                <input type="hidden" name="event_type" ng-model="event.event_type_id" class="form-control" required/>
                <ui-select ng-model="event.event_type_id" ng-if="event.edit">
                    <ui-select-match placeholder="">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="type.id as type in event_types track by $index">
                        <div ng-bind-html="type.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </td>
        <td class="room">
            <div>
                <span ng-hide="event.edit">{{event.room.name}}</span>
                <input type="hidden" name="room" ng-model="event.room_id" class="form-control" required/>
                <ui-select ng-model="event.room_id" ng-if="event.edit">
                    <ui-select-match placeholder="">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="room.id as room in rooms track by $index">
                        <div ng-bind-html="room.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </td>
        <td class="date">
            <div>
                <span ng-hide="event.edit">от {{event.begin_date | amDateFormat:'D MMM. H:mm'}}</span>
                <span ng-show="event.edit">дата начала:</span>
                <input type="text" ng-if="event.edit" class="form-control" name="begin_date" datetime-picker ng-model="event.begin_date" ng-init="event.begin_date = event.begin_date" is-open="event.open_begin_date" ng-click="event.open_begin_date=true" max-date="event.end_date"/>
            </div>
            <div>
                <span ng-hide="event.edit">до {{event.end_date | amDateFormat:'D MMM. H:mm'}}</span>
                <span ng-show="event.edit">дата окончания:</span>
                <input type="text" ng-if="event.edit" class="form-control" name="end_date" datetime-picker ng-model="event.end_date" is-open="event.open_end_date" ng-click="event.open_end_date=true" min-date="event.begin_date"/>
            </div>
        </td>
        <td>
            <button type="button" class="btn btn-warning btn-sm" ng-click="event.edit = true" ng-hide="event.edit">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-primary btn-sm" ng-click="saveEvent(event)" ng-show="event.edit">
                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
            </button>
        </td>
    </tr>
</table>