<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{{event.id ? 'Редактировать' : 'Создать'}} выступление</h4>
</div>
<form name="eventForm" ng-submit="save()" novalidate class="form-horizontal">
    <div class="modal-body row">
        <tabset>
            <tab heading="Основные данные">
                <div class="form-group col-md-12" show-errors>
                    <div class="col-md-4 col-lg-3 text-right">
                        <label>Название</label>
                    </div>
                    <div class="col-md-6 col-lg-7">
                        <input type="text" ng-init="focusName = true;" focus-me="focusName" name="name" ng-model="event.name" class="form-control" required >
                    </div>
                </div>
                <div ng-repeat="error in errors.name" class="alert alert-error"><strong>Название</strong> {{error}}</div>

                <div class="form-group col-md-12" show-errors>
                    <div class="col-md-4 col-lg-3 text-right">
                        <label>Сроки</label>
                    </div>
                    <div class="col-md-6 col-lg-7 controls">
                        <div class="input-group">
                            <span class="input-group-addon">от</span>
                            <!--<input type="date" name="begin_date" ng-model="event.begin_date" ng-change="autoStatus()" class="form-control" required/>-->
                            <input type="text" class="form-control" name="begin_date" datetime-picker ng-model="event.begin_date" is-open="opened.begin_date" ng-click="opened.begin_date=true" max-date="event.end_date"/>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">до</span>
                            <!--<input type="date" name="end_date" ng-model="event.end_date" class="form-control" required/>-->
                            <input type="text" class="form-control" name="end_date" datetime-picker ng-model="event.end_date" is-open="opened.end_date" ng-click="opened.end_date=true" min-date="event.begin_date" />
                        </div>
                    </div>
                </div>
                <div ng-repeat="error in errors.begin_date" class="alert alert-error"><strong>Название</strong> {{error}}</div>
                <div ng-repeat="error in errors.end_date" class="alert alert-error"><strong>Название</strong> {{error}}</div>
            </tab>
        </tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$dismiss()">Закрыть</button>
        <button type="submit" class="btn btn-primary">Сохранить данные</button>
    </div>
</form>